<%- include("parts/header") %>
    <%- include("parts/navbar") %>
        <div class="container text-center">
            <br>
            <div class="alert alert-danger">
                Something went wrong
            </div>
        </div>
        <%- include("parts/footer") %>