<br><br>
<div class="footer text-center text-white bg-dark py-2 fixed-footer">
    <div class="container">
        <div class="font-w-600">
            &copy; 2021 <a href="mailto:abdelrazek.ali.abdelrazek@gmail.com" title="Mail me"
                class="letter-space-2 link">Abdelrazek</a>
        </div>
    </div>
</div>
</div>
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    //For preview images before uploading
    var uploadPhoto = document.querySelectorAll('*[id^="uploadPhoto"]');
    var blah = document.querySelectorAll('*[id^="blah"]');

    for (let i = 0; i < uploadPhoto.length; i++) {
        uploadPhoto[i].onchange = evt => {
            const [file] = uploadPhoto[i].files
            if (file) {
                blah[i].src = URL.createObjectURL(file)
            }
        }
    }
</script>
</body>

</html>